doctype
html
	head
		meta(charset="UTF-8")
		title 无权限
		link(rel="stylesheet", href="/plugins/layui/css/layui.css", media="all")
		link(rel="stylesheet", href="/css/main.css")
	body
		.admin-main
			fieldset.layui-elem-field
				legend 错误
				.layui-field-box
					fieldset.layui-elem-field.layui-field-title
						legend 友情提示
						.layui-field-box
							p 你没有权限访问，请联系最高管理员
