doctype
html
	head
		meta(charset="utf-8")
		title video
	body
		video(width="100%", height="100%", autoplay, controls="controls")
			source(src="/video/video.mp4" type="video/mp4")
			span 当前浏览器不支持 video直接播放，点击这里下载视频：
				a(href="javascript:;") 下载视频